<!DOCTYPE html>
<html>
		<head>
			<title></title>
			<!-- build:css(.) styles/vendor.css -->
			<!-- bower:css -->
			<link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
			<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
			<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css" />
			<!-- endbower -->
			<!-- endbuild -->
			<!-- build:css(.tmp) styles/main.css -->

			<link rel="stylesheet" href="styles/main.css">
			
			<!-- endbuild -->
		</head>
		<body ng-app="productListingPage" ng-controller="Main">
			<div class="row top-nav">
				<div class="small-12 medium-3 columns">
					<span class="left my-left">Shop Wines &gt; Bottles</span>
				</div>
				<div class="small-12 medium-9 columns">
					<div class="navigation">
						<span class="my-left left">
							<span class="right-space previous"><span class="my-label">Previous</span></span>
							<span class="right-space total">20 of 234 Results</span>
							<span class="right-space next"><span class="my-label">Next</span></span>
							<span class="right-space view-all">View All</span>
						</span>
						<span class="my-right">
							<label class="search-label"> Sort By</label>
							<select class="sort radius">
								<option>Price (low to high)</option>
								<option>Price (high to low)</option>
								<option>Product Title (a to z)</option>
								<option>Product Title (z to a)</option>
								<option>Reviews (low to high)</option>
								<option>Reviews (high to low)</option>
								<option>Display Order</option>
								<option>Stock Availability</option>
								<option>Sales Items</option>
							</select>
						</span>	
					</div>	
					
				</div>
			</div>
			
			<div class="row">
				<div class="small-12 medium-3 columns left filters">
					<div class="mobile breadcrumb">Shop Wines &gt; Bottles</div>
					<div class="clear-all right">Clear All</div>


					<h5 class="left collapse" collapse title="Filters"></h5>
					<div class="holder block">
						<div class="container">
							<p class="facet collapse" collapse title="Color"></p>
							<div class="row flex-container space-between" ng-init="selected = 'red'">
								<div ng-click="selected = 'red'" class="circle red flex-item" ng-class="{'selected': selected === 'red'}"><span class="check-circle"><i class="fa fa-check-circle" aria-hidden="true"></i><span></div>
								<div ng-click="selected = 'rose'" class="circle rose flex-item" ng-class="{'selected': selected === 'rose'}"><span class="check-circle"><i class="fa fa-check-circle" aria-hidden="true"></i><span></div>
								<div ng-click="selected = 'white'" class="circle white flex-item" ng-class="{'selected': selected === 'white'}"><span class="check-circle"><i class="fa fa-check-circle" aria-hidden="true"></i><span></div>
							</div>
						</div>

						<div class="container">
							<p class="facet collapse" collapse title="Price range"></p>
							<div class="block">
								<label for="amount"></label>
								<input type="text" id="amount" readonly class="priceRange" />
								<div id="slider-range" class="my-slider"></div>
							</div>
							
						</div>

<!-- 						<div class="container">
							<p class="facet collapse" collapse title="Bottle Count:"></p>
							<div class="block">
								<ul class="flex-container space-between">
									<li class="flex-item"><label for="pokemonRed"><input type="radio" name="pokemon" value="Red" id="pokemonRed" required>&nbsp;1</label></li>
									<li class="flex-item"><label for="pokemonRed"><input type="radio" name="pokemon" value="Red" id="pokemonRed" required>&nbsp;6</label></li>
									<li class="flex-item"><label for="pokemonRed"><input type="radio" name="pokemon" value="Red" id="pokemonRed" required>&nbsp;12</label></li>
									<li class="flex-item"><label for="pokemonRed"><input type="radio" name="pokemon" value="Red" id="pokemonRed" required>&nbsp;15</label></li>
								</ul>
							</div>
						</div> -->

						<div class="container" expand>
							<p class="facet collapse" collapse title="Varietal"></p>
							<div class="block">
								<ul>
									<li>Cabernet Sauvignon (1477)</li>
									<li class="selected">Bordeaux Blends (994)</li>
									<li>Pinot Noir (1776)</li>
									<li>Other Red Blends (1006)</li>
									<li>Sangiovese (368)</li>
									<li>Syrah/Shiraz (613)</li>
									<li>Rhône Blends (437)</li>
									<li>Barbera (80)</li>
									<li>Cabernet Franc (74)</li>
									<li>Carmenere (41)</li>
									<li>Dolcetto (31)</li>
									<li>Gamay (55)</li>
									<li>Grenache (154)</li>
									<li>Malbec (233)</li>
									<li>Merlot (323)</li>
									<li>Mourvedre (33)</li>
									<li>Nebbiolo (249)</li>
									<li>Nero d'Avola (29)</li>
									<li>Other Red Wine (273)</li>
									<li>Petite Sirah (88)</li>
									<li>Pinotage (15)</li>
									<li>Primitivo (21)</li>
									<li>Tempranillo (290)</li>
									<li>Zinfandel (397)</li>
								</ul>
								<a expander class="expander" ng-click="action()">Show All</a>
							</div>
						</div>	

						<div class="container" expand>
							<p class="facet collapse" collapse title="Country"></p>
							<div class="block">
								<ul>
									<li>Argentina (55)</li>
									<li>Australia (152)</li>
									<li>Austria (94)</li>
									<li class="selected">Canada (2)</li>
									<li>Chile (44)</li>
									<li>Croatia (13)</li>
									<li>France (3241)</li>
									<li>Georgia (11)</li>
									<li>Germany (163)</li>
									<li>Greece (45)</li>
									<li>Hungary (21)</li>
									<li>Israel (8)</li>
									<li>Italy (666)</li>
									<li>Lebanon (8)</li>
									<li>Mexico (11)</li>
									<li>New Zealand (122)</li>
									<li>Other International (11)</li>
									<li>Portugal (109)</li>
									<li>Slovenia (13)</li>
									<li>South Africa (49)</li>
									<li>Spain (324)</li>
									<li>Turkey (2)</li>
									<li>United States (4194)</li>
								</ul>
								<a class="expander" expander ng-click="action()">Show All</a>
							</div>
						</div>

						<div class="container" expand>
							<p class="facet collapse" collapse title="Region">Region</p>
							<div class="block">
								<ul>
									<li>Abruzzo (7)</li>
									<li>Alsace (64)</li>
									<li>Beaujolais (31)</li>
									<li>Bordeaux (1340)</li>
									<li class="selected">Burgundy (711)</li>
									<li>California (3758)</li>
									<li>Campania (24)</li>
									<li>Chablis (67)</li>
									<li>Champagne (295)</li>
									<li>Emilia Romagna (4)</li>
									<li>Friuli-Venezia-Giulia (17)</li>
									<li>Languedoc-Roussillon (90)</li>
									<li>Loire (188)</li>
									<li>Lombardy (10)</li>
									<li>Madeira (9)</li>
									<li>Marche (6)</li>
									<li>Mosel-Saar-Ruwer (73)</li>
									<li>Nahe (22)</li>
									<li>Navarra (2)</li>
									<li>New South Wales (4)</li>
									<li>New York (4)</li>
									<li>Oregon (239)</li>
									<li>Penedes (19)</li>
									<li>Pfalz (13)</li>
									<li>Piedmont (189)</li>
									<li>Port (71)</li>
									<li>Priorato (23)</li>
									<li>Provence (52)</li>
									<li>Puglia (7)</li>
									<li>Rheingau (26)</li>
									<li>Rheinhessen (13)</li>
									<li>Rhone (354)</li>
									<li>Rias Baixas (9)</li>
									<li>Ribera del Duero (32)</li>
									<li>Rioja (101)</li>
									<li>Sardinia (4)</li>
									<li>Savoie/Jura (31)</li>
									<li>Sherry (56)</li>
									<li>Sicily (23)</li>
									<li>South Australia (103)</li>
									<li>Southwest France (12)</li>
									<li>Trentino-Alto Adige (15)</li>
									<li>Tuscany (284)</li>
									<li>Umbria (12)</li>
									<li>Veneto (48)</li>
									<li>Victoria (21)</li>
									<li>Washington (180)</li>
									<li>Western Australia (14)</li>
								</ul>
								<a expander class="expander" ng-click="action()">Show All</a>
							</div>
						</div>

						<div class="clear-all last mobile"><a>Clear All</a></div>

					</div>
					
					<div class="row mobile" style="clear:both;text-align: center">
						<span class="right-space previous"><span class="my-label"><a href="#">Previous</a></span></span>
						<span class="right-space total">20 of 234 Results</span>
						<span class="right-space next"><span class="my-label"><a href="#">Next</a></span></span>
					</div>

					<div class="row mobile" style="text-align:center;">
						<select class="sort" style="width:150px">
							<option>Price (low to high)</option>
							<option>Price (high to low)</option>
							<option>Product Title (a to z)</option>
							<option>Product Title (z to a)</option>
							<option>Reviews (low to high)</option>
							<option>Reviews (high to low)</option>
							<option>Display Order</option>
							<option>Stock Availability</option>
							<option>Sales Items</option>
						</select>
					</div>

				</div>

				<div class="small-12 medium-9 columns right results">
					<div>
						<div class="item clearfix">
							<div class="my-left left">
								<div class="image-holder"><img src="images/medium.png"/></div>
							</div>
							<div class="left text">
								<h5 class="name">2014 River's End Merlot</h5>
								<p class="status">In stock</p>
								<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lectus diam, non sodales nunc luctus quis. Mauris sit amet ante aliquet, varius dolor sed, eleifend arcu. Nunc neque mauris, convallis at odio vitae, efficitur lobortis dolor. Integer et massa imperdiet, hendrerit ante nec, porttitor augue.</p>
								<p class="product details">View Product Details &gt;</p>
								<p class="rating"><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star grayStar" aria-hidden="true"></i><i class="fa fa-star grayStar" aria-hidden="true"></i></p>
								<p class="add">
									<span class="price">$19.99</span>
									<input type="text" value="1" class="radius"/>
									<button class="button tiny add-to-cart radius">Add to cart</button>
								</p>
							</div>
						</div>

						<div class="item clearfix">
							<div class="my-left left">
								<div class="image-holder"><img src="images/medium.png"/></div>
							</div>
							<div class="left text">
								<h5 class="name">2015 Big Cirrus Syrah</h5>
								<p class="status out-of-stock">Out of Stock</p>
								<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia lectus diam, non sodales nunc luctus quis. Mauris sit amet ante aliquet, varius dolor sed, eleifend arcu. Nunc neque mauris, convallis at odio vitae, efficitur lobortis dolor. Integer et massa imperdiet, hendrerit ante nec, porttitor augue.</p>
								<p class="product details">View Product Details &gt;</p>
									<p class="rating"><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star redStar" aria-hidden="true"></i><i class="fa fa-star grayStar" aria-hidden="true"></i><i class="fa fa-star grayStar" aria-hidden="true"></i></p>
								<p class="add">
									<span style="position:relative;display:inline-block;width:50px;">
										<span style="position:absolute;bottom:0;" class="retail"><strike>$39.99</strike></span>
										<span style="position:absolute;top:-5px;" class="price">$19.99</span>
									</span>
									<input type="text" value="1" class="radius" />
									<button class="button tiny add-to-cart radius">Add to cart</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- build:js(.) scripts/vendor.js -->
			<!-- bower:js -->
			<script src="bower_components/jquery/dist/jquery.js"></script>
			<script src="bower_components/underscore/underscore.js"></script>
			<script src="bower_components/angular/angular.js"></script>
			<script src="bower_components/fastclick/lib/fastclick.js"></script>
			<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
			<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
			<script src="bower_components/foundation/js/foundation.js"></script>
			<script src="bower_components/jquery-ui/jquery-ui.js"></script>
			<!-- endbower -->
			<!-- endbuild -->

			<script src="scripts/external/app.js"></script>
		</body>
</html>