$lightgray: #eee;
$gray:     #cacaca;
$darkerGary: #aaa;
$redWine: #910b0b;
$black: #222;

body {
	background-color: white;
	color: $black;

	div, p, li {
		font-size: 14px;
	}

	input[type="radio"] {
		margin: 0px;
	}

	.columns {
		&.right {
			background-color: white;
			@media (min-width: 640px) and (max-width: 999px){
				width: 60%;
			}
			.navigation {
				margin:5px 0 15px;
				padding: 0 0 20px;
				border-bottom: 1px solid $gray;
			}
		}
		&.left {
			background-color: white;
			@media (min-width: 640px) and (max-width: 999px){
				width: 40%;
			}
		}

		&.filters .holder{
			@media (max-width: 400px){
				// display: none;
			}
		}
	}
	.my-left {
		margin: 7px 0 0 0;
	}

	.retail {
		color: $redWine;
		font-size: 12px;
	}

	h5 {
		font-weight: bold;
		&.name {
			color: $black;
			margin-bottom: 0;
		}
	}

	.selected {
		color: $redWine;
		font-weight: bold;
	}

	.status {
		font: {
			size: 12px;
			style: italic;
		}
		&.out-of-stock {
			color: $redWine
		}

	}

	.navigation {
		height: 45px;

	

		.previous {
			&::before {
				@media  (max-width: 768px){
					content: "<";
				}
			}
			.my-label {
				@media (max-width: 768px){
					display:none;
				}
			}
		}
		.next {
			&::before {
				@media(max-width: 768px){
					content: ">";
				}
			}
			.my-label {
				@media (max-width: 768px){
					display:none;
				}
			}
		}
	}

	.right-space {
		padding: 0 30px 0 0;

		@media (min-width: 640px) and (max-width: 999px){
			padding: 0 8px 0 0;
		}
		@media (max-width: 639px){
			padding: 0 4px 0 0;
		}
	}

	.view-all {
		@media (min-width: 320px) and (max-width: 999px){
			display:none;
		}
	}

	.my-right {
		float: right;

	}

	.sort {
		height: 30px;
		padding: 0 5px 0 10px;
		min-width: 145px;
		width: auto;
		margin: 0;
		@media (max-width: 400px) {
			margin: 10px 0;
		}
	}

	.search-label {
		display:inline;
		margin: 5px 0 0 0;
		.search {
			display:inline;
			width: auto;
			height: 20px;
			margin: 0;
			padding: 0;
		}
	}

	table.count {
		width:100%;
		background-color: transparent;
		margin:0;
		padding:0;
		tr td {
			width: 25%;
		}
	}

	.slider, .my-slider {
		margin: 5px 15px;
	}

	.facet {
		background-color: $lightgray;
		padding: 3px 5px;
		clear: both;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.container {
		margin: 0 0 20px;
		overflow: hidden;
		clear: both;
		@media(max-width: 400px){
			margin: 0 0 5px;
		}
	}

	.box {
		padding: 0;
		background-color:blue;
		margin: 0 5px;
		height: 20px;
		width: calc(100% / 3);
	}

	.expander {
		color: $black;
		text-decoration: underline;
		display: inline-block;
		margin: 5px 0 0 18px;
	}

	.clear-all{
		margin:10px 0 0 0;
		display:inline-block;
		text-decoration: underline;
		&.last {
			margin:0;
		}
		&.right {
			@media(max-width: 400px){
				display:none;
			}
		}
	}

	button.tiny.add-to-cart {
		background-color: $redWine;
		font-size: 13px;
		height: 32px;
		padding: 4px 20px;
	}

	button.tiny.add-to-cart[disabled]{
		cursor: not-allowed;
		pointer-events: none;
	}


	.bottle-count {
		margin: 0;
		padding: 0;
		border: 0 none;
		  display: -webkit-box;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: -moz-flex;
		  display: -webkit-flex;
		  display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		label {
			//float:left;
			//display:flex
		}
	}

	.flex-container {
		padding: 0;
		margin: 0 10px;
		list-style: none;

		-ms-box-orient: horizontal;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
	}

	.space-between { 
		-webkit-justify-content: space-between; 
		justify-content: space-between; 
	}  



	.flex-item {
		color: white;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
	}


	ul {
		margin-bottom: 5px;
		list-style-type: none;
		overflow: hidden;
	}

	.details {
		font-size: 12px;
		margin-bottom: 0;
	}

	.item {
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 70%, #eaeaea 100%);
		background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 70%,#eaeaea 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#ffffff 70%,#eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );

		.description {
			line-height: 140%;
		}
		.my-left {
			width: 100px;
		}
		.image-holder {
			width: 75px;
			height: 200px;
			margin: 0 10px 0 0;
			img {
				height:250px;
				margin: 0 0 0 15px;
			}
		}

		.text {
			width: calc(100% - 100px);
		}
		.add {
			margin-bottom: 0;
			input {
				width: 35px;
				height: 33px;
				display:inline;
				text-align: center;
			}
		}
		margin-bottom: 10px;
		border-bottom: 1px solid $gray;
		padding: 10px 10px 0 5px;
	}

	.collapse .toggle {
		i {
			color: $redWine;
		}
		@media(min-width: 401px){
			display:none;
		}
	}

	.breadcrumb {
		font-weight: bold;
	}

	.circle {
		height: 60px;
		width: 60px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		cursor: pointer;
		position:relative;
		.check-circle{
			display:none;
		}
		&.selected .check-circle {
			display:block;
			position:absolute;
			bottom:-7px;
			right:0;
		}
	}

	.priceRange {
		border:0; 
		padding: 0 .5rem 0 .5rem;
		font-weight:bold; 
		background-color:transparent !important;
		box-shadow: none !important;
		margin: 0;
		height: 2rem;
	}

	.price {
		font-weight: bold;
	}

	.red {
		background-color: $redWine;
	}

	.redStar {
		color:  $redWine;
	}

	.rating i {
		padding: 0 3px 0 0;
	}

	.grayStar {
		color: $gray
	}

	.rose {
		background-color: #f78f8f;
	}

	.white {
		background-color: #f7ee8f;
	}

	.collapse + div{
		@media(max-width: 400px){
			display:none;
		}
	}

	.collapse.my-show + div{
		@media(max-width: 400px){
			display:flex;
		}
	}

	.collapse.my-show + div.block{
		@media(max-width: 400px){
			display:block;
		}
	}

	.top-nav{
		padding: 8px  0 0 0;
		background-color: $lightgray;
		@media(max-width: 640px){
			display:none;
		}
	}

	.mobile {
		@media(min-width: 640px){
			display:none;
		}
	}

	ul li{
		color: $darkerGary;
		&:hover {
			font-weight: bold;
			color: $redWine;
			cursor: pointer;
		}
	}

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




